body{
    background-color: aquamarine;
    background-image: url(./Images/character-5997189_960_720.png);
    font-family: 'Lora', serif;
}

h1{
    text-align: center;
    color:rgb(0, 0, 0);

}

div{
    background-color: darkorange;
    height: 500px;
    width: 1000px;
    margin: auto;
    margin-top: 75px;
    
    
}

.Bowling{
    background-color: rgb(55, 151, 76);
}

.Football{
    background-color: deeppink;
}
.post-img{
    height: 250px;
    margin-left: 315px;
}


.post-text{
    font-size: 20px;
    text-align: center;
}
